<div class="announcement-section">
  <div class="content">

    <h1 class="title">{{title}}</h1>
    
    <mat-card class="example-card" *ngFor="let data of filteredAnnouncements" (click)="itemDialog(data)">
      <img mat-card-image src="{{data.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{data.adsName | slice: 0:20 }}
        </p>
        <p class="address">{{getAddress(data.cityId, data.regionId)}} <br>
          <i>{{data.cdate | date: 'dd.MM.yyyy, h:mm:ss ' }}</i> <br>
        </p>
        <p> <b class="price">{{data.price}}</b> </p>
      </mat-card-content>
    </mat-card>

    <h3 *ngIf="filteredAnnouncements.length == 0"> - e'lon topilmadi - </h3>

  </div>
</div>