.profile{
    margin: 0px auto;
}

mat-grid-tile{
    border-bottom: 1px solid lightgrey;
}

mat-grid-tile:hover{
    background-color: lightsteelblue;
}

.profile-title{
    font-weight: bold;
    border-right: 1px solid lightgrey;
}